
#firstpage,#secondpage,#thirdpage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    
}
#fourthpage{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}
#image_desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}
#firstpage_image,#secondpage_image{
    height: max-content;
    width: max-content;    
    border-radius: 10%;
}
#fourthpage_image{
    height:95px;
    width:95px;
 
}
.peanuts,.seafood,.sesame,.honey,.eggplant,.milk,.cheese,.olive{
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}
.opaque {
    opacity: 0.5;
    }
#title{
    font-size: 60px;
    padding-top: 20px;
    text-align: center;
}
#secondpage_title,#thirdpage_title{
    font-size: 40px;
    padding-top: 20px;
    text-align: center;
}

#secondpage_subtitle{
    font-weight: 300;
    padding-top: 30px;
}
.carousel-nav {
    display: flex;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);

    justify-content: center
    }

    .prev,.next {
        padding: 10px 15px ;
        margin: 0 5px;
        border: none;
        background: #333;
        color: #fff;
        cursor: pointer;
        border-radius: 50%;
}
.icon{
    position: fixed;
    right: 0;
    width: 30px;
    height: 30px;
    
}
.signup{
    margin-top: 25px;
    background-color: greenyellow;
    width: 80px;
    border-radius: 10%;
}

.signin{
    margin-top: 15px;
    width: 80px;
    border-radius: 10%;
}
.tabs{
    padding-left: 20px;
    
    border-radius: 10%;
}
.tab_1{
    background-color: beige;
    
}